* {
    margin: 0;
    padding: 0;
}
.fixed-header {
    position: fixed;
    width: 100%;
}
header {
    background-image: url("../images/header-bg.jpeg");
    background-size: 100%;
    text-align: center;
    color: gray;
    font-family: 'Righteous', cursive;
    font-size: 20px;
    width: 100%;
    padding: 30px;
}
nav {
    width: 100%;       
    color: #fff4d1;
    top: 0;
    font-size: 25px;
}
ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}
li {
    float: left;
}
li a {
    display: block;
    color: #938C7D;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'League Spartan', sans-serif;
}
li a:hover:not(.active) {
    background-color: #D3D3D3;
}
.active {
    background-color: #D3D3D3;
}
body {
    background-color: #696378;
    color: white;
    font-family: 'League Spartan', sans-serif;
    font-size: 20px;
    text-align: center;
}
.content {
    padding-top: 280px;
}
footer{
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    width: 100%;
    background-color: black;
    height: 5vh;
}

footer div{
    flex: 1;
    color: white;
    margin: auto;
    text-align: center;
}

.modified-footer {
    position: static;
}
